/* .app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
} */

.app .splashScreen {
  min-width: 100%;
  min-height: 100%;
}

/* .app div {
  height: 80%;
} */
