.CheckIn-Page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.CheckIn-Button {
  align-self: center;
  justify-self: center;
  margin-top: 85vh;
  position: absolute;
}

.RoutePick-Button {
  align-self: center;
  justify-self: center;
  margin-top: 85vh;
  z-index: 999;
  position: absolute;
}
