.Map-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.Map {
  font-family: 'Lato', sans-serif !important;
  height: 100%;
  width: 100%;
  position: absolute !important;
}

.Map-Content {
  height: 100%;
  width: 100%;
}

.Loading-Page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.Loading-Spinner {
  align-self: center;
  padding-top: 90vh;
}

.Loading-Text {
  align-self: center;
  padding-top: 63%;
}
