.NavBar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 15%;
  grid-template-areas:
    'Content'
    'NavBar';
}

.NavBar .tab {
  grid-area: NavBar;
  min-height: 8vh;
}

.NavBar .Content {
  grid-area: Content;
  max-height: 100%;
}

.NavBar .Content div {
  grid-area: Content;
}
