.Tabs {
  background-image: linear-gradient(
    to top,
    #c0cfe9,
    #cdd5e9,
    #d8dbe9,
    #e2e2e9,
    #e9e9e9
  ) !important;
  box-shadow: 0px -1px 12px 4px rgba(152, 152, 152, 0.47);
  padding-bottom: 3%;
}
