.Title {
  text-align: center;
  padding-bottom: 0;
}

.Title h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.Trails-page {
  height: 100vh;
}

.Trails-Content {
  height: 100%;
  position: absolute;
  background: none;
  background-image: linear-gradient(
    to right top,
    #c3c3c3,
    #bfc0cf,
    #b7bedd,
    #a9bdea,
    #93bdf8
  ) !important;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.Trail-Card {
  background-image: linear-gradient(
    to bottom,
    #ef9000,
    #f3a130,
    #f7b14f,
    #fbc16b,
    #ffd087
  ) !important;
  color: white !important;
}

ion-card-title {
  color: white !important;
}
